options:
  volume_name:
    type: string
    default: test
    description: |
      The name of the Gluster volume to create.  This will also serve as the name
      of the mount point.  Example: mount -t glusterfs server1:/test
  cluster_type:
    type: string
    default: Replicate
    description: |
      The type of volume to setup.  Replicate is sufficient for most use cases.
      Other options include: Distribute,
        Stripe,
        StripedAndReplicate,
        Disperse,
        DistributedAndStripe,
        DistributedAndReplicate,
        DistributedAndStripedAndReplicate,
        DistributedAndDisperse.
  replication_level:
    type: int
    default: 2
    description: |
      This sets how many replicas of the data should be stored in the cluster.
      Generally 2 or 3 will be fine for almost all use cases.  Greater than 3
      could be useful for read heavy uses cases.
  filesystem_type:
    type: string
    default: xfs
    description: |
      The filesystem type to use for each one of the bricks.  Can be either
      xfs, btrfs, or ext4
  splitbrain_policy:
    type: string
    default: size
    description: |
      Split brain means that the cluster can not come to consensus on which
      version of a file to serve to a client.
      This option set automatic resolution to split-brains in replica volumes
      Options include: ctime|mtime|size|majority. Set this to none to disable.
      Example: Setting this to "size" will pick the largest size automatically
      and delete the smaller size file. "majority" picks a file with identical
      mtime and size in more than half the number of bricks in the replica.
  source:
    type: string
    default: ppa:gluster/glusterfs-3.8
    description: |
      Optional configuration to support use of additional sources such as:

        - ppa:myteam/ppa
        - cloud:trusty-proposed/kilo
        - http://my.archive.com/ubuntu main

      The last option should be used in conjunction with the key configuration
      option. NOTE: Changing this configuration value after your cluster is
      deployed will initiate a rolling upgrade of the servers one by one.
  key:
    type: string
    default:
    description: |
      Key ID to import to the apt keyring to support use with arbitary source
      configuration from outside of Launchpad archives or PPA's.
  virtual_ip_addresses:
    type: string
    description: |
      By default NFSv3 is installed and started on all servers.  If the server
      the client is connected to dies NFSv3 doesn't have a failover mechanism.
      Setting this option to a space separated list of ip addresses cidr's to be
      used as virtual ip addresses on the cluster such as:
        - 10.0.0.6/24 10.0.0.7/24 10.0.0.8/24 10.0.0.9/24
          With a cluster of 2 machines would assign 2 virutal addresses
          to each host.
        - 2001:0db8:85a3:0000:0000:8a2e:0370:7334/24 2001:cdba:0000:0000:0000:0000:3257:9652/24
          With a cluster of 2 machines would assign 1 virtual address to each
          host.
      Each server will be assigned (# of ip addresses) / ( # of servers) ip
      addresses to use for quick failover.  The administrator is expected
      to create a DNS A record with the virtual ip addresses before setting
      this.  When clients connect to this charm it will attempt to resolve
      its own virtual ip and hand out the DNS address instead of the ip
      address if possible.  Upon failure of a server ctdb will issue a
      gratitous arp requests and migrate the virtual ip address over to a
      machine that is still up.  Note however that there are implications here
      for load balancing and moving an additional ip address to a server
      could increase load on it.
  cifs:
    type: boolean
    description: |
      Enable CIFS exporting of the volume. This option will enable windows
      clients to access the volume.
